<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API_AUTOMATION_SmokeSuite">
  <test thread-count="5" name="Add product and verify it dispalyed on homepage">
    <classes>
      <class name="peatesapplication.Verifypeatasperstatus"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SmokeSuite -->
